* {
    font-family: Arial, sans-serif; 
}


/* headline 
_____________________________________ */



/* Task
_____________________________________ */

.task {
    /* background-color: blue; */
    margin: 0 30px 0;
    display: inline;
}



.test{
    background-color: yellow;
}

