* {
    font-family: Arial, sans-serif; 
}

.not-show {
    display: none;
}

.container-outer {
    width: 400px; 
    margin: 0 auto; 
}

body {
    background-image: url("images\\photo-1518655048521-f130df041f66.jfif");
    background-size: cover;
    background-repeat: no-repeat;
}

/* headline 
_______________________________________________ */
#new-task {
    width: 85%;
}

#add {
    width: 13%;
    margin: -1%;
}

.title {
    text-align: center;
}

/* Task
_______________________________________________ */
.task-div {
    margin: 5px 0;
    padding-left: 1%;
    border-bottom: solid;
    border-right: solid;
    border-radius: 5px;
    background-image: url("images\\WoodBackground54342.jpg");
    background-size: cover;
}

.pressed.task-div {
    border-top: solid;
    border-left: solid;
    border-bottom: none;
    border-right: none;
}

.fas {
    /* margin: 0 10px 0 0; */
    padding-top: 5px;
    padding-bottom: 5px; 
    display: inline-block;
}

.text {
    margin: 0 5px 0 0;
    width: 80.5%;
    overflow-wrap: break-word;
    display: inline-block;
}

.fa-caret-down{
    margin-right: 2%;
    padding: 3px 5px 3px 2px;
}

.fa-caret-down:hover {
    color: blue;
}

.fa-check {
    margin-right: 3%;
    padding: 2px;
    font-size: x-small;
    border-style: solid;
    border-width: thin;
    background: rgb(120, 230, 93);
    border-radius: 50%;
}

.fa-check:hover {
    background: rgb(233, 101, 118);
}

.fa-trash-alt {
    margin: 0;
    font-size: small;
    border-style: none;
}

.fa-trash-alt:hover {
    color: red;
}

.unchecked {
    background: transparent;
    border-color: black;
    color: transparent;
}

.unchecked:hover{
    background-color: rgb(213, 243, 210);
    color: black;
}

#undone-count {
    color: red;
    font-weight: bold;
}

#finished-count {
    font-weight: bold;
    color: green;
}

.undone-task, .finished-task {
    margin: 10px 0;
}

.undone-task-div, .finished-task-div {
    margin: 40px 0;
}

#remove-all-undone, #remove-all-finished {
    margin-left: 5%;
    border-radius: 5px;
}

.not-drop-down {
    display: none;
}



